<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="/intelcpu/0/load/2/plot" value="false" />
    <add key="/intelcpu/0/load/3/plot" value="false" />
    <add key="/intelcpu/0/load/4/plot" value="false" />
    <add key="/intelcpu/0/load/5/plot" value="false" />
    <add key="/intelcpu/0/load/6/plot" value="false" />
    <add key="/intelcpu/0/load/7/plot" value="false" />
    <add key="/intelcpu/0/load/8/plot" value="false" />
    <add key="/intelcpu/0/load/9/plot" value="false" />
    <add key="/intelcpu/0/load/0/plot" value="false" />
    <add key="/intelcpu/0/load/1/plot" value="false" />
    <add key="/intelcpu/0/temperature/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/1/plot" value="false" />
    <add key="/intelcpu/0/temperature/2/plot" value="false" />
    <add key="/intelcpu/0/temperature/3/plot" value="false" />
    <add key="/intelcpu/0/temperature/4/plot" value="false" />
    <add key="/intelcpu/0/temperature/5/plot" value="false" />
    <add key="/intelcpu/0/temperature/6/plot" value="false" />
    <add key="/intelcpu/0/temperature/7/plot" value="false" />
    <add key="/intelcpu/0/temperature/8/plot" value="false" />
    <add key="/intelcpu/0/temperature/9/plot" value="false" />
    <add key="/intelcpu/0/temperature/10/plot" value="false" />
    <add key="/intelcpu/0/clock/1/plot" value="false" />
    <add key="/intelcpu/0/clock/2/plot" value="false" />
    <add key="/intelcpu/0/clock/3/plot" value="false" />
    <add key="/intelcpu/0/clock/4/plot" value="false" />
    <add key="/intelcpu/0/power/0/plot" value="false" />
    <add key="/intelcpu/0/power/1/plot" value="false" />
    <add key="/intelcpu/0/power/3/plot" value="false" />
    <add key="/intelcpu/0/power/4/plot" value="false" />
    <add key="/vram/data/2/plot" value="false" />
    <add key="/vram/data/3/plot" value="false" />
    <add key="/vram/load/1/plot" value="false" />
    <add key="/ram/data/0/plot" value="false" />
    <add key="/ram/data/1/plot" value="false" />
    <add key="/ram/load/0/plot" value="false" />
    <add key="/gpu-nvidia/0/temperature/0/plot" value="false" />
    <add key="/gpu-nvidia/0/clock/0/plot" value="false" />
    <add key="/gpu-nvidia/0/clock/4/plot" value="false" />
    <add key="/gpu-nvidia/0/load/0/plot" value="false" />
    <add key="/gpu-nvidia/0/load/1/plot" value="false" />
    <add key="/gpu-nvidia/0/load/2/plot" value="false" />
    <add key="/gpu-nvidia/0/load/3/plot" value="false" />
    <add key="/gpu-nvidia/0/smalldata/3/plot" value="false" />
    <add key="/gpu-nvidia/0/smalldata/4/plot" value="false" />
    <add key="/gpu-nvidia/0/load/5/plot" value="false" />
    <add key="/gpu-nvidia/0/load/6/plot" value="false" />
    <add key="/gpu-nvidia/0/load/14/plot" value="false" />
    <add key="/gpu-nvidia/0/load/16/plot" value="false" />
    <add key="/gpu-nvidia/0/load/15/plot" value="false" />
    <add key="/gpu-nvidia/0/load/8/plot" value="false" />
    <add key="/gpu-nvidia/0/load/9/plot" value="false" />
    <add key="/gpu-nvidia/0/load/17/plot" value="false" />
    <add key="/gpu-nvidia/0/load/18/plot" value="false" />
    <add key="/gpu-nvidia/0/load/13/plot" value="false" />
    <add key="/gpu-nvidia/0/load/7/plot" value="false" />
    <add key="/gpu-nvidia/0/load/19/plot" value="false" />
    <add key="/gpu-nvidia/0/load/10/plot" value="false" />
    <add key="/gpu-nvidia/0/load/11/plot" value="false" />
    <add key="/gpu-nvidia/0/load/12/plot" value="false" />
    <add key="/gpu-nvidia/0/temperature/2/plot" value="false" />
    <add key="/gpu-nvidia/0/smalldata/2/plot" value="false" />
    <add key="/gpu-nvidia/0/smalldata/0/plot" value="false" />
    <add key="/gpu-nvidia/0/smalldata/1/plot" value="false" />
    <add key="/gpu-nvidia/0/power/0/plot" value="false" />
    <add key="/gpu-nvidia/0/throughput/0/plot" value="false" />
    <add key="/gpu-nvidia/0/throughput/1/plot" value="false" />
    <add key="/nvme/0/temperature/0/plot" value="false" />
    <add key="/nvme/0/temperature/1/plot" value="false" />
    <add key="/nvme/0/temperature/2/plot" value="false" />
    <add key="/nvme/0/temperature/10/plot" value="false" />
    <add key="/nvme/0/temperature/11/plot" value="false" />
    <add key="/nvme/0/level/20/plot" value="false" />
    <add key="/nvme/0/data/21/plot" value="false" />
    <add key="/nvme/0/data/22/plot" value="false" />
    <add key="/nvme/0/factor/23/plot" value="false" />
    <add key="/nvme/0/factor/24/plot" value="false" />
    <add key="/nvme/0/data/32/plot" value="false" />
    <add key="/nvme/0/load/51/plot" value="false" />
    <add key="/nvme/0/load/52/plot" value="false" />
    <add key="/nvme/0/load/53/plot" value="false" />
    <add key="/nvme/0/throughput/54/plot" value="false" />
    <add key="/nvme/0/throughput/55/plot" value="false" />
    <add key="/nvme/0/level/100/plot" value="false" />
    <add key="/nvme/0/level/101/plot" value="false" />
    <add key="/nvme/0/level/102/plot" value="false" />
    <add key="/nic/%7B2E6E56F4-641F-472E-B419-7324472EBF38%7D/data/2/plot" value="false" />
    <add key="/nic/%7B2E6E56F4-641F-472E-B419-7324472EBF38%7D/data/3/plot" value="false" />
    <add key="/nic/%7B2E6E56F4-641F-472E-B419-7324472EBF38%7D/throughput/7/plot" value="false" />
    <add key="/nic/%7B2E6E56F4-641F-472E-B419-7324472EBF38%7D/throughput/8/plot" value="false" />
    <add key="/nic/%7B2E6E56F4-641F-472E-B419-7324472EBF38%7D/load/1/plot" value="false" />
    <add key="/nic/%7B7EAB06EB-56B1-4BAF-9A8E-33BB11197C0E%7D/data/2/plot" value="false" />
    <add key="/nic/%7B7EAB06EB-56B1-4BAF-9A8E-33BB11197C0E%7D/data/3/plot" value="false" />
    <add key="/nic/%7B7EAB06EB-56B1-4BAF-9A8E-33BB11197C0E%7D/throughput/7/plot" value="false" />
    <add key="/nic/%7B7EAB06EB-56B1-4BAF-9A8E-33BB11197C0E%7D/throughput/8/plot" value="false" />
    <add key="/nic/%7B7EAB06EB-56B1-4BAF-9A8E-33BB11197C0E%7D/load/1/plot" value="false" />
    <add key="/nic/%7B152A21FE-AB90-4CB2-B6E7-A209E3E2061D%7D/data/2/plot" value="false" />
    <add key="/nic/%7B152A21FE-AB90-4CB2-B6E7-A209E3E2061D%7D/data/3/plot" value="false" />
    <add key="/nic/%7B152A21FE-AB90-4CB2-B6E7-A209E3E2061D%7D/throughput/7/plot" value="false" />
    <add key="/nic/%7B152A21FE-AB90-4CB2-B6E7-A209E3E2061D%7D/throughput/8/plot" value="false" />
    <add key="/nic/%7B152A21FE-AB90-4CB2-B6E7-A209E3E2061D%7D/load/1/plot" value="false" />
    <add key="/nic/%7B2C5272FF-E9F8-40EB-913D-A1C2F123042E%7D/data/2/plot" value="false" />
    <add key="/nic/%7B2C5272FF-E9F8-40EB-913D-A1C2F123042E%7D/data/3/plot" value="false" />
    <add key="/nic/%7B2C5272FF-E9F8-40EB-913D-A1C2F123042E%7D/throughput/7/plot" value="false" />
    <add key="/nic/%7B2C5272FF-E9F8-40EB-913D-A1C2F123042E%7D/throughput/8/plot" value="false" />
    <add key="/nic/%7B2C5272FF-E9F8-40EB-913D-A1C2F123042E%7D/load/1/plot" value="false" />
    <add key="/nic/%7BAC9C6837-8F3B-4850-A5B4-8694A6305DAD%7D/data/2/plot" value="false" />
    <add key="/nic/%7BAC9C6837-8F3B-4850-A5B4-8694A6305DAD%7D/data/3/plot" value="false" />
    <add key="/nic/%7BAC9C6837-8F3B-4850-A5B4-8694A6305DAD%7D/throughput/7/plot" value="false" />
    <add key="/nic/%7BAC9C6837-8F3B-4850-A5B4-8694A6305DAD%7D/throughput/8/plot" value="false" />
    <add key="/nic/%7BAC9C6837-8F3B-4850-A5B4-8694A6305DAD%7D/load/1/plot" value="false" />
    <add key="/battery/BAT_1/energy/0/plot" value="false" />
    <add key="/battery/BAT_1/energy/1/plot" value="false" />
    <add key="/battery/BAT_1/level/1/plot" value="false" />
    <add key="theme" value="auto" />
    <add key="plotForm.Location.X" value="-32768" />
    <add key="plotForm.Location.Y" value="100" />
    <add key="plotForm.Width" value="600" />
    <add key="plotForm.Height" value="400" />
    <add key="mainForm.Location.X" value="803" />
    <add key="mainForm.Location.Y" value="191" />
    <add key="mainForm.Width" value="470" />
    <add key="mainForm.Height" value="640" />
    <add key="/battery/BAT_1/power/0/name" value="Charge/Discharge Rate" />
    <add key="/battery/BAT_1/current/0/name" value="Charge/Discharge Current" />
    <add key="/battery/BAT_1/energy/2/plot" value="false" />
    <add key="/battery/BAT_1/level/0/plot" value="false" />
    <add key="/battery/BAT_1/voltage/0/plot" value="false" />
    <add key="/battery/BAT_1/current/0/plot" value="false" />
    <add key="/battery/BAT_1/power/0/plot" value="false" />
    <add key="/battery/BAT_1/temperature/0/values" value="" />
    <add key="/battery/BAT_1/timespan/0/values" value="" />
    <add key="/battery/BAT_1/power/0/values" value="H4sIAAAAAAAEAEtddtdedcU9DwYgmNzSxckABQJ/JrFBWAf+X9/DygQTn9vnog1jAwD4I1X1PAAAAA==" />
    <add key="/battery/BAT_1/current/0/values" value="H4sIAAAAAAAEAEtddtdedcU9DwYgmNzSxckABQJ/JrFBWAf+X9/DygQTn9vnog1jAwD4I1X1PAAAAA==" />
    <add key="/battery/BAT_1/energy/2/values" value="H4sIAAAAAAAEAEtddtdedcU9DwYVf/fJLV2cDCAAZAv8mcQGZjMc+H99DysTTHxun4s2jA0AgUdXszwAAAA=" />
    <add key="/battery/BAT_1/voltage/0/values" value="H4sIAAAAAAAEAEtddtdedcU9j4lvGx3zwqKZGIBA+n2j43y+JDB7yYdGx/f7C8HseUDx6fEQNZOA6gX+TGJjAIMD/6/vYYXr/WecCWbzAdXUdGbB2VJ/k8FskXeNjk9eQtgge795p8PNXLcnGW6Os0QG3N7Wv3lgtvrHRsdVntlwce/MbLh6mx1pCPfLJoLZ3W8aHZlmIMxZdx/iNkWgv+b/T4b7ceUkiN4ZQLe5706Gq19Vmw5nAwAiMDMgLAEAAA==" />
    <add key="/battery/BAT_1/level/0/values" value="H4sIAAAAAAAEAEtddtdedcU9DwaGE06TW7o4GcDghJPAn0lsEPaB/9f3sDLBxOf2uWjD2ADAMatIPAAAAA==" />
    <add key="/battery/BAT_1/level/1/values" value="" />
    <add key="/battery/BAT_1/energy/1/values" value="" />
    <add key="/battery/BAT_1/energy/0/values" value="" />
    <add key="/nic/%7BAC9C6837-8F3B-4850-A5B4-8694A6305DAD%7D/load/1/values" value="H4sIAAAAAAAEAEtddtdedcU9jyuCnLZ5YdFMDECweiev7Xy+JDDb7zWHberVAjB7fRqn7aY4iJpHydy2d+/WszGAwYH/lcckweIFe7ht/xlngtlB/Zy2NZ1ZYLbtV05bqb/JYPaBJg7bJy8hbJZ6Tttv3ulgtkshl+26PRDxtINCts4SGWD2njxO29a/eWC20l1O21We2WB23BsFW+9MCJt5F6etzY40MPsQ0K75solg9slNnLZMMyDmSAiy2667D3HbtH5m2/n/IXbNOG5tu3ISRO/qLRK27rsh4m2GQraraiFu6+V3sQUApk8iaywBAAA=" />
    <add key="/nic/%7BAC9C6837-8F3B-4850-A5B4-8694A6305DAD%7D/throughput/8/values" value="H4sIAAAAAAAEAEtddtdedcU9D+eqVte8sGgmBiDgdJvgOp8vCcw+GNLqmnq1AMx+dqbVdVMcRI365w7Xu3fr2RjA4MD/ymOSYPE/Qh2u/4wzweyKL62uNZ1ZYPb28DZXqb/JYPb7dy2uT15C2NOftLp+804Hs+sutLmu2wMRL1630NVZIgPM3nul1bX1bx6YbefQ5rrKMxvM3s19ydU7E8LmkmtztdmRBmazqnW4zpdNBLN3JLW6Ms2AmLNWtsV13X2I22TPNrjO/w+x6//1o64rJ0H0TlVb5uq+GyKuyjjXdVUtxG3tBwzcAIXuleYsAQAA" />
    <add key="/nic/%7BAC9C6837-8F3B-4850-A5B4-8694A6305DAD%7D/throughput/7/values" value="H4sIAAAAAAAEAEtddtdedcU9j7TNTm55YdFMDEBwTM/NbT5fEpi9vsbJLfVqAZj9QdvZbVMcRA1Hiqvb3bv1bAxgcOB/5TFJsDhLrZvbP+NMMHtFqrNbTWcWmJ3/zdlN6m8ymK31wtHtyUsIu8HP2e2bdzqYPXOZi9u6PRDx7ULubs4SGWB2vLmzW+vfPDDb8Iqz2yrPbDD7x0tPN+9MCNt3kbObzY40MNtFwNltvmwimK37ydmNaQbEnD399m7r7kPcptFh5Tb/P8SupfMa3VZOgujlNwhwc98NEf8S5uG2qhbiNicTVzcAM2i7xiwBAAA=" />
    <add key="/nic/%7BAC9C6837-8F3B-4850-A5B4-8694A6305DAD%7D/data/3/values" value="H4sIAAAAAAAEAEtddtdedcU9j5xoH7u8sGgmBiC4EO9jN58vCcwWTfGxS71aAGb7ZPjYbYqDqOnI8bG7e7eejQEMDvyvPCYJFt9T7WP3zzgTzGZo8LGr6cwCs01afOyk/iaD2bkdPnZPXkLYc3p87L55p4PZdyb42K3bAxEPnepj5yyRAWarzvKxa/2bB2YnzPOxW+WZDWbbLfax886EsMNW+tjZ7EiDmLkW6H7ZRDD78kYfO6YZEHOYtgHNvw9xG9MuoJr/ELv27/OxWzkJopflqI+d+26IuPQpoF21ELctuexjBwApTWG8LAEAAA==" />
    <add key="/nic/%7BAC9C6837-8F3B-4850-A5B4-8694A6305DAD%7D/data/2/values" value="H4sIAAAAAAAEAEtddtdedcU9jzLnCzZ5YdFMDEAgtvSCzXy+JDBbj/2iTerVAjB7ZuZFm01xEDUTTl+0uXu3no0BDA78rzwmCRYv0r1s8884E8wWmnjZpqYzC8xW/XzZRupvMpi9N/SKzZOXEHbF9is237zTwexJUldt1u2BiE+qvWrjLJEBZvs/vGrT+jcPYqbLNZtVntlgttyKazbemRD2Ld7rNjY70sBs24LrNvNlE8Hsq5eu2zDNgJjjZXLDZt19iNsEJt6wmf8fYtfy3zdsVk6C6E2ovGnjvhsirnf/ps2qWojbylxu2QAAwNH6ySwBAAA=" />
    <add key="/nic/%7B2C5272FF-E9F8-40EB-913D-A1C2F123042E%7D/load/1/values" value="H4sIAAAAAAAEAEtddtdedcU9DwYgUJnZyckABXfv1rNBWAf+Vx6TZIKJz+1z0YaxAX4jn6w8AAAA" />
    <add key="/nic/%7B2C5272FF-E9F8-40EB-913D-A1C2F123042E%7D/throughput/8/values" value="H4sIAAAAAAAEAEtddtdedcU9DwYgUJnZyckABXfv1rNBWAf+Vx6TZIKJz+1z0YaxAX4jn6w8AAAA" />
    <add key="/nic/%7B2C5272FF-E9F8-40EB-913D-A1C2F123042E%7D/throughput/7/values" value="H4sIAAAAAAAEAEtddtdedcU9DwYgUJnZyckABXfv1rNBWAf+Vx6TZIKJz+1z0YaxAX4jn6w8AAAA" />
    <add key="/nic/%7B2C5272FF-E9F8-40EB-913D-A1C2F123042E%7D/data/3/values" value="H4sIAAAAAAAEAEtddtdedcU9DwYgUJnZyckABXfv1rNBWAf+Vx6TZIKJz+1z0YaxAX4jn6w8AAAA" />
    <add key="/nic/%7B2C5272FF-E9F8-40EB-913D-A1C2F123042E%7D/data/2/values" value="H4sIAAAAAAAEAEtddtdedcU9DwYgUJnZyckABXfv1rNBWAf+Vx6TZIKJz+1z0YaxAX4jn6w8AAAA" />
    <add key="/nic/%7B152A21FE-AB90-4CB2-B6E7-A209E3E2061D%7D/load/1/values" value="H4sIAAAAAAAEAEtddtdedcU9DwYgUJnZyckABXfv1rNBWAf+Vx6TZIKJz+1z0YaxAX4jn6w8AAAA" />
    <add key="/nic/%7B152A21FE-AB90-4CB2-B6E7-A209E3E2061D%7D/throughput/8/values" value="H4sIAAAAAAAEAEtddtdedcU9DwYgUJnZyckABXfv1rNBWAf+Vx6TZIKJz+1z0YaxAX4jn6w8AAAA" />
    <add key="/nic/%7B152A21FE-AB90-4CB2-B6E7-A209E3E2061D%7D/throughput/7/values" value="H4sIAAAAAAAEAEtddtdedcU9DwYgUJnZyckABXfv1rNBWAf+Vx6TZIKJz+1z0YaxAX4jn6w8AAAA" />
    <add key="/nic/%7B152A21FE-AB90-4CB2-B6E7-A209E3E2061D%7D/data/3/values" value="H4sIAAAAAAAEAEtddtdedcU9DwYgUJnZyckABXfv1rNBWAf+Vx6TZIKJz+1z0YaxAX4jn6w8AAAA" />
    <add key="/nic/%7B152A21FE-AB90-4CB2-B6E7-A209E3E2061D%7D/data/2/values" value="H4sIAAAAAAAEAEtddtdedcU9DwYgUJnZyckABXfv1rNBWAf+Vx6TZIKJz+1z0YaxAX4jn6w8AAAA" />
    <add key="/nic/%7B7EAB06EB-56B1-4BAF-9A8E-33BB11197C0E%7D/load/1/values" value="H4sIAAAAAAAEAEtddtdedcU9DwYgUJnZyckABXfv1rNBWAf+Vx6TZIKJz+1z0YaxAX4jn6w8AAAA" />
    <add key="/nic/%7B7EAB06EB-56B1-4BAF-9A8E-33BB11197C0E%7D/throughput/8/values" value="H4sIAAAAAAAEAEtddtdedcU9DwYgUJnZyckABXfv1rNBWAf+Vx6TZIKJz+1z0YaxAX4jn6w8AAAA" />
    <add key="/nic/%7B7EAB06EB-56B1-4BAF-9A8E-33BB11197C0E%7D/throughput/7/values" value="H4sIAAAAAAAEAEtddtdedcU9DwYgUJnZyckABXfv1rNBWAf+Vx6TZIKJz+1z0YaxAX4jn6w8AAAA" />
    <add key="/nic/%7B7EAB06EB-56B1-4BAF-9A8E-33BB11197C0E%7D/data/3/values" value="H4sIAAAAAAAEAEtddtdedcU9DwYgUJnZyckABXfv1rNBWAf+Vx6TZIKJz+1z0YaxAX4jn6w8AAAA" />
    <add key="/nic/%7B7EAB06EB-56B1-4BAF-9A8E-33BB11197C0E%7D/data/2/values" value="H4sIAAAAAAAEAEtddtdedcU9DwYgUJnZyckABXfv1rNBWAf+Vx6TZIKJz+1z0YaxAX4jn6w8AAAA" />
    <add key="/nic/%7B2E6E56F4-641F-472E-B419-7324472EBF38%7D/load/1/values" value="H4sIAAAAAAAEAEtddtdedcU9DwYgUJnZyckABXfv1rNBWAf+Vx6TZIKJ7//krA1jAwBUvXFOPAAAAA==" />
    <add key="/nic/%7B2E6E56F4-641F-472E-B419-7324472EBF38%7D/throughput/8/values" value="H4sIAAAAAAAEAEtddtdedcU9DwYgUJnZyckABXfv1rNBWAf+Vx6TZIKJ7//krA1jAwBUvXFOPAAAAA==" />
    <add key="/nic/%7B2E6E56F4-641F-472E-B419-7324472EBF38%7D/throughput/7/values" value="H4sIAAAAAAAEAEtddtdedcU9DwYgUJnZyckABXfv1rNBWAf+Vx6TZIKJ7//krA1jAwBUvXFOPAAAAA==" />
    <add key="/nic/%7B2E6E56F4-641F-472E-B419-7324472EBF38%7D/data/3/values" value="H4sIAAAAAAAEAEtddtdedcU9DwYgUJnZyckABXfv1rNBWAf+Vx6TZIKJ7//krA1jAwBUvXFOPAAAAA==" />
    <add key="/nic/%7B2E6E56F4-641F-472E-B419-7324472EBF38%7D/data/2/values" value="H4sIAAAAAAAEAEtddtdedcU9DwYgUJnZyckABXfv1rNBWAf+Vx6TZIKJ7//krA1jAwBUvXFOPAAAAA==" />
    <add key="/gpu-nvidia/0/smalldata/2/values" value="H4sIAAAAAAAEAItRM7VXXXHPg4GBwa18aj8nAwS43Zh2kQ3CPPCfR+EEI0xcapqjNowNAGjHQMU8AAAA" />
    <add key="/gpu-nvidia/0/smalldata/1/values" value="H4sIAAAAAAAEAItRM7VXXXHPg2EDo4vxtiQmBhD4wOiy8l8ChP3gr7Pfv1wIu+GDs++jWAh7wQfnG9MusoHZDAf+8yicYISwPzp/P5AFUePw0Tl0WTwTTFw7JIcPxnZvyoaIK3x0ltqeATX/o3O4XDqc/fMbjP3eOe5EGtSc586KzRdYYOxp11Kg4s+cI3ihahSeO7fGpELF3zgDAKEwUbTkAAAA" />
    <add key="/gpu-nvidia/0/smalldata/0/values" value="H4sIAAAAAAAEAItRM7VXXXHPg+HQe1fjbUlMDCCw673ryn8JELbUB1e/f7kQ9ocPrr6PYiHsdx9cb0y7yAZmMxz4z6NwghHMfPHB9fuBLIiaJx9cQ5fFM8HEtUNy+GBs96ZsiPizD65S2zMg7AcfXMPl0uHsn9+gbIaPrnEn0iDsjo+uis0XWGDsaddSIOIzPrpG8ELVtH10bY1JhbAtProCAMc33sjkAAAA" />
    <add key="/gpu-nvidia/0/load/19/values" value="H4sIAAAAAAAEAItRM7VXXXHPgwEIyqf2czJAwY1pF9kgrAP/eRROMMLEBX45aMPYALF1sGU8AAAA" />
    <add key="/gpu-nvidia/0/load/18/values" value="H4sIAAAAAAAEAItRM7VXXXHPgwEIyqf2czJAwY1pF9kgrAP/eRROMMLEBX45aMPYALF1sGU8AAAA" />
    <add key="/gpu-nvidia/0/load/17/values" value="H4sIAAAAAAAEAItRM7VXXXHPgwEIyqf2czJAwY1pF9kgrAP/eRROMMLEBX45aMPYALF1sGU8AAAA" />
    <add key="/gpu-nvidia/0/load/16/values" value="H4sIAAAAAAAEAItRM7VXXXHPgwEIyqf2czJAwY1pF9kgrAP/eRROMMLEBX45aMPYALF1sGU8AAAA" />
    <add key="/gpu-nvidia/0/load/15/values" value="H4sIAAAAAAAEAItRM7VXXXHPgwEIyqf2czJAwY1pF9kgrAP/eRROMMLEBX45aMPYALF1sGU8AAAA" />
    <add key="/gpu-nvidia/0/load/14/values" value="H4sIAAAAAAAEAItRM7VXXXHPgwEIyqf2czJAwY1pF9kgrAP/eRROMMLEBX45aMPYALF1sGU8AAAA" />
    <add key="/gpu-nvidia/0/load/13/values" value="H4sIAAAAAAAEAItRM7VXXXHPgwEIyqf2czJAwY1pF9kgrAP/eRROMMLEBX45aMPYALF1sGU8AAAA" />
    <add key="/gpu-nvidia/0/load/12/values" value="H4sIAAAAAAAEAItRM7VXXXHPgwEIyqf2czJAwY1pF9kgrAP/eRROMMLEBX45aMPYALF1sGU8AAAA" />
    <add key="/gpu-nvidia/0/load/11/values" value="H4sIAAAAAAAEAItRM7VXXXHPgwEIyqf2czJAwY1pF9kgrAP/eRROMMLEBX45aMPYALF1sGU8AAAA" />
    <add key="/gpu-nvidia/0/load/10/values" value="H4sIAAAAAAAEAItRM7VXXXHPgwEIyqf2czJAwY1pF9kgrAP/eRROMMLEBX45aMPYALF1sGU8AAAA" />
    <add key="/gpu-nvidia/0/load/9/values" value="H4sIAAAAAAAEAItRM7VXXXHPQ0Ofw8Z4WxITAxA8uvLYeuW/BDBbyqvIxu9fLpjtJWtk4/soFszeVzjZ9sa0i2wMYHDgP4/CCUYQa/suHbvvB7LAajpv/LQOXRYPZnvPi7UWup0BEV+aYG1llAZmb5knb51+ESI+Y7GpdfP8FDC74JeedU5VKpjtkmZs3RkNMfOS10ury1HZYHZDcqRN3z2I3iMbLGzC5dLB7JPM62x+foOwjdaa2sadgNh1OWym7U3eRDBbck6njUdpPpj9TXKuzbRrEHt//dC2i+CFqFedeMC2+gBEXE890BYAvzC9CCwBAAA=" />
    <add key="/gpu-nvidia/0/load/8/values" value="H4sIAAAAAAAEAItRM7VXXXHPI/hHn63xtiQmBiD4I95ps/JfAphtZCtk5/cvF8y+sCbGxvdRLJj9bHWnzY1pF9kYwODAfx6FE4wgVlthqu33A1lgNT22621Dl8UzMUCBdkgOH4x9OSobLJ431c+2714GmP2PZ4ZtuFw6mC3TxWH38xuUrdJtF3ciDcy+wzbX5iZvItxMj9J8OHvatRQw+21jp20EL0S9SnWJXfUBiPieyVvsADlAirfwAAAA" />
    <add key="/gpu-nvidia/0/load/7/values" value="H4sIAAAAAAAEAItRM7VXXXHPgwEIyqf2czJAwY1pF9kgrAP/eRROMMLEBX45aMPYALF1sGU8AAAA" />
    <add key="/gpu-nvidia/0/load/6/values" value="H4sIAAAAAAAEAItRM7VXXXHP4446v73xtiQmBiB4Fsdsv/JfApjt8jPH3u9fLpjNtY/D3vdRLJjNXmrtcGPaRTYGMDjwn0fhBCOItWzDbPvvB7LAaj4HTrALXRYPZksySdoJ3c4As/9sE7SzMkoDswvbZOzSL0LEf81Ut2uenwJmW1tk2uVUpYLZHzcI23VGQ8w8qiNidzkqG8wW28lt33cPoleMkds+XC4dzA5sTbL/+Q3Crvhv7xB3AmJXueh2h5u8iWC22+5Oe4/SfDC7xHuB/bRrEHu3rXBxjOCFqG/N2eFQfQAizuoe6QAAJwObgiwBAAA=" />
    <add key="/gpu-nvidia/0/load/5/values" value="H4sIAAAAAAAEAItRM7VXXXHP4+7tu3bG25KYGIBA/uReu5X/EsBsmS2z7P3+5YLZPl/O2fk+igWzizwL7G5Mu8jGAAYH/vMonGAEsRw5++2/H8gCq3m9ydIudFk8mB0sy2sndDsDzJ5xmNvOyigNzPZaxm2XfhEivu8Ep13z/BQw+4SYo11OVSqY3ZzFa9cZDTFzz30Ou8tR2WC2668tdn33IHoNFq6xC5dLB7M/nD5s9/MbhP3e2tch7gTErt0/jzrc5E0Es5+v7bH3KM0Hs1UFFtpPuwaxN4PH3jGCF6L+PPtVh+oDEHGHcw0OANlQ5KAsAQAA" />
    <add key="/gpu-nvidia/0/smalldata/4/values" value="H4sIAAAAAAAEAItRM7VXXXHPg0HgiqPxtiQmBhC4cMVx5b8ECBso7vcvFyp+0dH3USycPdP0PBuYzXDgv3fjKUaI+GXH7weyIGoOXHEMXRYPN6en10EYxg6XS4eKX3b8+Q3KDrjoGHciDSp+y1Gx+QILjD3tWgpU/IJjBC9MzXnH6gNQ8QtXHQEIWWH3zAAAAA==" />
    <add key="/gpu-nvidia/0/smalldata/3/values" value="H4sIAAAAAAAEAItRM7VXXXHPo0HwlbPxtiQmBiBoiH/lvPJfAoRd+sTZ718uhG143dn3USyE7X3deabpeTYGMDjw37vxFCNYfPF15+8HsiBqrl53Dl0WD2Hvve6sHZLDB2NfjsqGiG+/7tx3LwPCfn/dOVwuHcJmvuH88xuE7WBxzTnuRBpEfMdZZ8XmCyww9rRrKVDxM84RvFA1F846Vx+Aii+45AwAHnpzm+QAAAA=" />
    <add key="/gpu-nvidia/0/throughput/1/values" value="H4sIAAAAAAAEAPseZWuvuuKeBwODnIeYdQoTAwj88fWKPJIAYTtoeZhX50LYNTleOovjwexnpf/9FlccYQOLMxz4f5jvCiOIteVDvd9e10ywmpCJ9X7NMolgds/cer+T5yHiDAzRHidOJ0PZ/h4tRtkQ9gEnjwn86VBxIQ+j3TA1Du6mBzLA7Okr7f1bX0LNcYj22OYP1duw0j1RJA0uLvIQop4hoMdz/t9UMFur979fz16Iey7U//eLPJMHZm9ZVu/HpA71u4Ctp0wGVO+E2Z6P7WBumOgOALnwYMksAQAA" />
    <add key="/gpu-nvidia/0/throughput/0/values" value="H4sIAAAAAAAEANt8xcJedcU9D4fTqj5XDyYzMQBBw9zL3iWGiWA2w7xSn5lLcyHi6x54K/vGg9kOouo+W8xOsoHVMBz4X+R5nhHEEpD56dezNwuid/Yfv2VLIeq5M2z9F9zOgIgnzPDgNkqDsA8Ievw+kAlhMwh5ZAqmQ9mH3Fl3JEPZE93Z90L1smV5r2nLBrNF9tX4PZwM1Wvg7MluAzWzodgj6h6UbXPR++tDqJkrWjyXGUP9xfDZ/X1+Pph9xKXGT+9hCpi94NlPvz8MUPXfjnpliEHEGSJeewEAHAR3HywBAAA=" />
    <add key="/gpu-nvidia/0/power/0/values" value="H4sIAAAAAAAEAItRM7VXXXHPo32apqPxtiQmBiDw4tFwFFyfCGYH8Go6PvPNBbOzbDQdT52JA7OtTDQdZbzPsTGAwYH/3o2nGEEsJm1Nx+8HssBqdnlqOoYuiwezkwQ0HIVuZ4DZ24rVHa2M0sBsvrUajt57MsHstGeajnnTUsDsfidNx7kzIOyc55qOndEQM7tz1B3dm7LB7E5HTUep7RAzD3hpOobLpYPZa2S0HX9+g7B/XDZ3jDuRBvfXTV6Iv15Uazl6lOaD2RGWao7TrkHsqn9l5Vi3EqK+y9HCMf4ARHzLCU1HAHidC7ksAQAA" />
    <add key="/gpu-nvidia/0/load/3/values" value="H4sIAAAAAAAEANteFBeouuKex5O2PQ7fD2QxMQDBl7V7HEKXxYPZJrP3OGiH5PDB2O5N2WDxJTP3OEhtzwCzXQ7tcQiXSwezn1zc4/DzG4Qtlb3bIe5EGpjtc3yLg2LzBRYYe9q1FIj4/80OEbwQNTy3tji0xqSC2T1zdjgAAEY6oMScAAAA" />
    <add key="/gpu-nvidia/0/load/2/values" value="H4sIAAAAAAAEAItRM7VXXXHPgwEIyqf2czJAwVzu42wQ1oH/7qsvMcLEpaY5asPYANAP7mU8AAAA" />
    <add key="/gpu-nvidia/0/load/1/values" value="H4sIAAAAAAAEAItRM7VXXXHPg4GBx9F4WxITAxiwOK78lwBlSzj6/cuFsgUcfR/FQtkcjnO5j7NB2Af+u6++xAgT/34gC25O6LJ4KJvBcfM9c3YYu3l+ClxNTlUqXE1ndBac7d6UDbdXansGXH24XDqc/fMbjC3iGHciDcpWcLzJmwhlyzh6lOZD2TyO067B7J3nGMELU5/h2BqTCjcTAIKShgsUAQAA" />
    <add key="/gpu-nvidia/0/load/0/values" value="H4sIAAAAAAAEAItRM7VXXXHPg4Fhgb3xtiQmBihY+S8BynZw8PuXC2Pb+z6KhbIX2M/lPs4GYR/47776EiOE3WD//UAWVE2DXeiyeLiZQrczYOL2VkZpcHb6Rbi4XfP8FDg7pyoVrrczOgvOdm/KhrHtpbYjzAyXS4fr/fkNzraPOwGzK8DhJm8inO1Rmg8zx2HaNZi9GxwjeGHqVRxbY+BusAcAiGeCCiwBAAA=" />
    <add key="/gpu-nvidia/0/clock/4/values" value="H4sIAAAAAAAEAItRM7VXXXHPg4FhkXP51H5OBjBY5DyX+zgbhH3gv/vqS4wwcYFfDtowNgBU//FSPAAAAA==" />
    <add key="/gpu-nvidia/0/clock/0/values" value="H4sIAAAAAAAEAItRM7VXXXHPg4GB3bl8aj8nAxiwO8/lPs4GYR/47776EiNMXIPrlgyMHXcijQnMdJB2vsmbyAQT9yjNh7OnXUuBsBu8nC+fPcUCYwMAkYV1BngAAAA=" />
    <add key="/gpu-nvidia/0/temperature/3/values" value="H4sIAAAAAAAEAItRM7VXXXHPgwEIyqf2czJAwVzu42wQ1oH/7qsvMcLEBX45aMPYAHCI1To8AAAA" />
    <add key="/gpu-nvidia/0/temperature/2/values" value="H4sIAAAAAAAEAItRM7VXXXHPg2HBRCfjbUlMDCAQMtFp5b8ECHvFRCe/f7lwcd9HsRC2xUSnudzH2cBshgP/3VdfYgQzWSY6fT+QBVFzYYJT6LJ4CHvNBCeh2xkQdscEJyujNAg7Y4JT+kWoeMUEp+b5KRB2xASnnKpUCNtlglNnNNRMhQlO7k3ZELbMBCep7VC9LBOcwuXSIewX/U4/v0HZPBOc4k6kwcVv8iZC2BwTnDxK8yHsPf1O066lwNVH8KbB1VQfgIr/6HcCAOzqOcosAQAA" />
    <add key="/gpu-nvidia/0/temperature/0/values" value="H4sIAAAAAAAEAItRM7VXXXHPg4Ehw6l8aj8nAxhkOM3lPs4GYR/47776EiNM/F38GQEYuzM6iwnCTnNyb8qGstOdpLZnwMXD5dLh7J/f0uFq4k6kQdmpTjd5E+HiHqX5cPFp11Lg4pfPnmKBsQGrPGt0tAAAAA==" />
    <add key="/memory/dimm/1/timing/25/plot" value="false" />
    <add key="/memory/dimm/1/timing/24/plot" value="false" />
    <add key="/memory/dimm/1/timing/23/plot" value="false" />
    <add key="/memory/dimm/1/timing/22/plot" value="false" />
    <add key="/memory/dimm/1/timing/21/plot" value="false" />
    <add key="/memory/dimm/1/timing/20/plot" value="false" />
    <add key="/memory/dimm/3/timing/35/plot" value="false" />
    <add key="/memory/dimm/3/timing/34/plot" value="false" />
    <add key="/memory/dimm/3/timing/33/plot" value="false" />
    <add key="/memory/dimm/3/timing/32/plot" value="false" />
    <add key="/memory/dimm/3/timing/31/plot" value="false" />
    <add key="/memory/dimm/3/timing/30/plot" value="false" />
    <add key="/memory/dimm/3/timing/29/plot" value="false" />
    <add key="/memory/dimm/3/timing/28/plot" value="false" />
    <add key="/memory/dimm/3/timing/27/plot" value="false" />
    <add key="/memory/dimm/3/timing/26/plot" value="false" />
    <add key="/memory/dimm/3/timing/25/plot" value="false" />
    <add key="/memory/dimm/3/timing/24/plot" value="false" />
    <add key="/memory/dimm/3/timing/23/plot" value="false" />
    <add key="/memory/dimm/3/timing/22/plot" value="false" />
    <add key="/memory/dimm/3/timing/21/plot" value="false" />
    <add key="/memory/dimm/3/timing/20/plot" value="false" />
    <add key="/memory/dimm/1/data/50/plot" value="false" />
    <add key="/memory/dimm/1/timing/36/plot" value="false" />
    <add key="/memory/dimm/1/timing/35/plot" value="false" />
    <add key="/memory/dimm/1/timing/34/plot" value="false" />
    <add key="/memory/dimm/1/timing/33/plot" value="false" />
    <add key="/memory/dimm/1/timing/32/plot" value="false" />
    <add key="/memory/dimm/1/timing/31/plot" value="false" />
    <add key="/memory/dimm/1/timing/30/plot" value="false" />
    <add key="/memory/dimm/1/timing/29/plot" value="false" />
    <add key="/memory/dimm/1/timing/28/plot" value="false" />
    <add key="/memory/dimm/1/timing/27/plot" value="false" />
    <add key="/memory/dimm/1/timing/26/plot" value="false" />
    <add key="/intelcpu/0/clock/0/plot" value="false" />
    <add key="/intelcpu/0/voltage/4/plot" value="false" />
    <add key="/intelcpu/0/voltage/3/plot" value="false" />
    <add key="/intelcpu/0/voltage/2/plot" value="false" />
    <add key="/intelcpu/0/voltage/1/plot" value="false" />
    <add key="/intelcpu/0/voltage/0/plot" value="false" />
    <add key="plotPanel.MinVoltage" value="0" />
    <add key="plotPanel.MaxVoltage" value="100" />
    <add key="plotPanel.MinCurrent" value="0" />
    <add key="plotPanel.MaxCurrent" value="100" />
    <add key="plotPanel.MinPower" value="0" />
    <add key="plotPanel.MaxPower" value="100" />
    <add key="plotPanel.MinClock" value="0" />
    <add key="plotPanel.MaxClock" value="100" />
    <add key="plotPanel.MinTemperature" value="0" />
    <add key="plotPanel.MaxTemperature" value="100" />
    <add key="plotPanel.MinLoad" value="0" />
    <add key="plotPanel.MaxLoad" value="100" />
    <add key="plotPanel.MinFrequency" value="0" />
    <add key="plotPanel.MaxFrequency" value="100" />
    <add key="plotPanel.MinFan" value="0" />
    <add key="plotPanel.MaxFan" value="100" />
    <add key="plotPanel.MinFlow" value="0" />
    <add key="plotPanel.MaxFlow" value="100" />
    <add key="plotPanel.MinControl" value="0" />
    <add key="plotPanel.MaxControl" value="100" />
    <add key="plotPanel.MinLevel" value="0" />
    <add key="plotPanel.MaxLevel" value="100" />
    <add key="plotPanel.MinFactor" value="0" />
    <add key="plotPanel.MaxFactor" value="100" />
    <add key="plotPanel.MinData" value="0" />
    <add key="plotPanel.MaxData" value="100" />
    <add key="plotPanel.MinSmallData" value="0" />
    <add key="plotPanel.MaxSmallData" value="100" />
    <add key="plotPanel.MinThroughput" value="0" />
    <add key="plotPanel.MaxThroughput" value="100" />
    <add key="plotPanel.MinTimeSpan" value="0" />
    <add key="plotPanel.MaxTimeSpan" value="600" />
    <add key="plotPanel.MinTiming" value="0" />
    <add key="plotPanel.MaxTiming" value="100" />
    <add key="plotPanel.MinEnergy" value="0" />
    <add key="plotPanel.MaxEnergy" value="100" />
    <add key="plotPanel.MinNoise" value="0" />
    <add key="plotPanel.MaxNoise" value="100" />
    <add key="plotPanel.MinConductivity" value="0" />
    <add key="plotPanel.MaxConductivity" value="100" />
    <add key="plotPanel.MinHumidity" value="0" />
    <add key="plotPanel.MaxHumidity" value="100" />
    <add key="treeView.Columns.Sensor.Width" value="254" />
    <add key="treeView.Columns.Value.Width" value="100" />
    <add key="treeView.Columns.Min.Width" value="100" />
    <add key="treeView.Columns.Max.Width" value="100" />
    <add key="listenerIp" value="?" />
    <add key="listenerPort" value="8085" />
    <add key="authenticationEnabled" value="false" />
    <add key="authenticationUserName" value="" />
    <add key="authenticationPassword" value="cd372fb85148700fa88095e3492d3f9f5beb43e555e5ff26d95f5a6adc36f8e6" />
    <add key="/memory/dimm/3/timing/36/plot" value="false" />
    <add key="/memory/dimm/3/data/50/plot" value="false" />
    <add key="/vram/data/2/values" value="H4sIAAAAAAAEACsUumivuuKex5s7jI6XQuKYGIBgqhmTY8LBRDA7iofJcVJDLpid5MzoOEc9Hsze08XoaLs3jZkBDA78lzlrxApiPZjP4Bi8LRWs5s4MBkf9b9lgdlofg+M6oRQw+2sng+OPg8lgdkgHg2OldBaYfaWNwVE2GSKeDWTbKKeB2QJA9iKWAjA7tYXBcfc/iPgFIDt2dQ6YLQ1kX7oCsXcrUH3wDIhdIkA3bClJB7N9+hkco9ZngNkRWQyOfWsgdgW1MjimXIKI53wH2msE0XswgtExNRxi17VaRkcAlPRXliwBAAA=" />
    <add key="/vram/data/3/values" value="H4sIAAAAAAAEACsUumivuuKeh0yZtuOlkDgmBiAoltF2TDiYCGavc9N2nNSQC2Yv49dxnKMeD2b7nNB2tN2bxswABgf+y5w1YgWxNDbrOAZvSwWr0dml46j/LRvMXnREx3GdUAqYLXxSx/HHwWQwe8spHcdK6Sww2+SMjqNsMkR8LpBto5wGZv8AshexFIDZi8/pOO7+BxG3ALJjV+eA2W+B7EtXIPYGA9UHz4DY9QXohi0l6WD2nsM6jlHrM8DsDS90HPvWQOzadlbHMeUSRHxONNBeI4he91/ajqnhELuMrmo7AgA2odY5LAEAAA==" />
    <add key="/vram/load/1/values" value="H4sIAAAAAAAEACsUumivuuKex75kHadLIXFMDEBw5JaOU8LBRDB72yIdp0kNuWD22+naTnPU48HsJd+0nWz3pjEzgMGB/zJnjVhBrAf7tJyCt6WC1UzYquWk/y0bzF6zXMtpnVAKmH1soZbTj4PJYPa8+VpOldJZYPaCuVpOsskQcREg20Y5DcyeM0fLaRFLAZidOkvLafc/iPhnIDt2dQ6YzQRkX7oCsbccqDd4BsSuti1aTltK0sHseyu0nKLWZ4DZF8q1nPrWQOyaP1vLKeUSRFzcWNvJxgii13uLtlNqOMSu1qfaTgC/GRu0LAEAAA==" />
    <add key="/ram/data/0/values" value="H4sIAAAAAAAEACsUumivuuKeh9S1hw6XQuKYGIBgg98jh4SDiWC2mtojh0kNuWA2T8Ujhznq8WD2lg+PHGz3pjEzgMGB/zJnjVhBrLLehw7B21LBahJWPnTQ/5YNZvfNf+iwTigFzN4z7aHDj4PJYPa6KQ8dKqWzIOKTHjrIJkPES3oeOtgop4HZFV0PHRaxFIDZOkD27n8Q8WmdDx1iV+eA2RYdQPdfgdgb1QZ0wwyIXTYTHjpsKUmHsFkfOUStzwCzF1196NC3BmLXqU8PHVIuQcRrlj5ysDGC6P3k/tghNRxi1yeLxw4AbOn6NiwBAAA=" />
    <add key="/ram/data/1/values" value="H4sIAAAAAAAEACsUumivuuKex+90PsdLIXFMDECwQZvPMeFgIpj91Z7PcVJDLpjNJM7nOEc9Hsxed4vX0XZvGjMDGBz4L3PWiBXE8u3hcwzelgpWE1HH56j/LRvMdmzmc1wnlAJmr2rnc/xxMBnM3tjB51gpnQUR7+RzlE2GiJ8DmmOjnAZmn+nlc1zEUgBmfwKyd/+DiNv28TnGrs4Bs98A2ZeuQOy93Q90wwyIXa+6+By3lKSD2VkBfI5R6zPAbPMMPse+NRC7FkfyOaZcgoh7MQDtNYLo5V/P65gaDrGrfxuvIwDAZAciLAEAAA==" />
    <add key="/ram/load/0/values" value="H4sIAAAAAAAEACsUumivuuKex6lnBk6XQuKYGIDAwdXQKeFgIphdp2roNKkhF8xelmroNEc9HszWOGLoZLs3jZkBDA78lzlrxApiPVlr4BS8LRWs5tBhAyf9b9lgtsAeA6d1QikQvVsNnH4cTAazezYbOFVKZ4HZbJsMnGSTIeJSQHNslNPA7N7VBk6LWArA7EAge/c/iPidVQZOsatzwOyTK4HuvwKxN2gF0A0zIHYJbDBw2lKSDmZv4zZ0ilqfAWbnAv3btwZil8tfA6eUSxBx205DJxsjiN4GDiOn1HCIXQf+GDoBAGiV7g8sAQAA" />
    <add key="/memory/dimm/1/timing/20/values" value="" />
    <add key="/memory/dimm/1/timing/21/values" value="" />
    <add key="/memory/dimm/1/timing/22/values" value="" />
    <add key="/memory/dimm/1/timing/23/values" value="" />
    <add key="/memory/dimm/1/timing/24/values" value="" />
    <add key="/memory/dimm/1/timing/25/values" value="" />
    <add key="/memory/dimm/1/timing/26/values" value="" />
    <add key="/memory/dimm/1/timing/27/values" value="" />
    <add key="/memory/dimm/1/timing/28/values" value="" />
    <add key="/memory/dimm/1/timing/29/values" value="" />
    <add key="/memory/dimm/1/timing/30/values" value="" />
    <add key="/memory/dimm/1/timing/31/values" value="" />
    <add key="/memory/dimm/1/timing/32/values" value="" />
    <add key="/memory/dimm/1/timing/33/values" value="" />
    <add key="/memory/dimm/1/timing/34/values" value="" />
    <add key="/memory/dimm/1/timing/35/values" value="" />
    <add key="/memory/dimm/1/timing/36/values" value="" />
    <add key="/memory/dimm/1/data/50/values" value="" />
    <add key="/memory/dimm/3/timing/20/values" value="" />
    <add key="/memory/dimm/3/timing/21/values" value="" />
    <add key="/memory/dimm/3/timing/22/values" value="" />
    <add key="/memory/dimm/3/timing/23/values" value="" />
    <add key="/memory/dimm/3/timing/24/values" value="" />
    <add key="/memory/dimm/3/timing/25/values" value="" />
    <add key="/memory/dimm/3/timing/26/values" value="" />
    <add key="/memory/dimm/3/timing/27/values" value="" />
    <add key="/memory/dimm/3/timing/28/values" value="" />
    <add key="/memory/dimm/3/timing/29/values" value="" />
    <add key="/memory/dimm/3/timing/30/values" value="" />
    <add key="/memory/dimm/3/timing/31/values" value="" />
    <add key="/memory/dimm/3/timing/32/values" value="" />
    <add key="/memory/dimm/3/timing/33/values" value="" />
    <add key="/memory/dimm/3/timing/34/values" value="" />
    <add key="/memory/dimm/3/timing/35/values" value="" />
    <add key="/memory/dimm/3/timing/36/values" value="" />
    <add key="/memory/dimm/3/data/50/values" value="" />
    <add key="/intelcpu/0/load/0/values" value="H4sIAAAAAAAEAEvhMbJXXXHPY9bMJMcVTalMDEDwsOqKg45PIpj9JpDZcZFeDpg9ayaH48+N8WB2lcgfB4nrT5kZwODA/9LwlSwg1vXFAY4nLyYzQdgaDrnz0sDsCYee2uvJZ4LZj6qe2JfJpYDZ69wX2v80gYjPnLnT3vEhRK/IOn4H23epUDWsDpd2ZoPZrwMFHKY6Z0PFux0UH6WD2dUiYQ4JVRB2WlqQg7kohK0Z89/hoEMalK3rWFAKMf/Q1yYHac1cqNsWOvwJh6jvPyThaOObBg2HaY6ZralQ/2o6AgChm0CQLAEAAA==" />
    <add key="/intelcpu/0/load/1/values" value="H4sIAAAAAAAEAEvhMbJXXXHPYwKTrdOKplQmBiDYKZfmqOOTCGYbG690XKSXA2YH7Vjg+HNjPJjNdf24o8T1p8wMYHDgf2n4ShYIU9np5MVksJo3gVcccuelgdnfNHY56MlngtkPq6Y4lMmlgNlnz1Q4/DSBiFeJdDg4PkyGqrniYPsO4h75VibHSzuzoWbucJjqDGEX2io6Kj5Kh7qN0TGhCsKuFvnhYC4KYcf0FzoedIC4wSOxx7GgFGJ+Wpq+o7RmLph9fbGl459wiHoRvTuONr4Q9fJH9Z0yWyFuiDkv4wQApWqP3ywBAAA=" />
    <add key="/intelcpu/0/load/2/values" value="H4sIAAAAAAAEAEvhMbJXXXHP4yyPuNOKplQmBiCQb/V11PFJBLMZGBIdF+nlgNlr3e0cf26MB7OvL3Z3lLj+lBmi5sD/0vCVLGC9rB8dT15MBqvpP3TcIXdeGpj9TWOXg558Jpj9JlDEoUwuBcwWWffd/qcJRPzQVxEHx4cQvQ+rrjjYvoO5h8nx0s5sqHvWOEx1hrCDdnxzUHyUDlV/zCGhCsJOS9vlYC4KYb8OdHA86ABxwzXlNseCUoj5ra85HKU1c6FsYcc/4elQu3gdbXwh6o03z3PMbIW4YZ37WgcAyorxMSwBAAA=" />
    <add key="/intelcpu/0/load/3/values" value="H4sIAAAAAAAEAEvhMbJXXXHPw46Ly3FFUyoTAxCsc+dz1PFJBLMZGKY5LNLLAbNbX993+LkxHsz+ptHlIHH9KTNEzYH/peErWUCsWTMfOpy8mAxWI9/q7pA7Lw3M3iE31V5PPhPMjuk/ZFcmlwJmP6yaYv/TJBOq5qi948NkqL0eDrbvUqHirvaXdmaD2Zox3+2nOkPYj6oeOCg+SgezNWIWOiRUpUPdtsbBXBTC9nio4HjQIQ3q/qkOBaUQ80XWHbeT1syF2/snHKJerjXB0cYXoj66v8gxsxXiBveHZQ4Amb1wFCwBAAA=" />
    <add key="/intelcpu/0/load/4/values" value="H4sIAAAAAAAEAEvhMbJXXXHPQ551k+OKplQmBiBY537fQccnEcyWa1VyXKSXAxWPc/y5MR7MrhbZ4yBx/SkzAxgc+F8avpIFxLq+eL7jyYvJYDUi69wdcuelgdkPq6bY68lnwtllcilg9qyZog4/TSDiO+SO2jk+hOhtfS3qYPsuFa7+0s5sqPqJ9lOdIewlBTsdFB+lw81JqIKw3wSKOJiLQthnzyg4HnSAuMGeK92xoBRifuAONwdpzVyY+Q5/wiHqbbt6HW18IerlW+sdM1tToX4pcgQAfruMpywBAAA=" />
    <add key="/intelcpu/0/load/5/values" value="H4sIAAAAAAAEAEvhMbJXXXHPw9jY3WFFUyoTAxDMmqnroOOTCGZzXXd3WKSXA2ZXi+xy+LkxHsr2cpC4/pSZAQwO/C8NX8kCYvUf2uxw8mIyWE1M/yG73HlpYPaSgqn2evKZTBA1U+3L5FLA7IdVU+x/mkDEbbmO2zs+TIaL275Lhao/an9pZzaYfX3xBPupzhC2yLrjdoqP0sHsN4EJDglVEPajqiP25qIQdlqam8NBB4gbGBhmOBSUQszfIXfUTlozFyrOwPAnHKJeM+a4vY0vRH3QDkvHzFaEGwAYrP1ILAEAAA==" />
    <add key="/intelcpu/0/load/6/values" value="H4sIAAAAAAAEAEvhMbJXXXHPo9D2jcOKplQmBiCQa13ooOOTCGYzMJxwWKSXA2bvkLvr8HNjPJhty7XeQeL6U2aImgP/S8NXsoBYD6vWOZ68mAxWU2Cr55A7Lw1qDgODnnwm1Jyj9mVyKTC23U8TuLid40OIXpF17va271Kh4q72l3ZmQ9lT7ac6Z0PVfLdXfJQOZvcfOmqfUAVhc12fbG8uCmFPOLTT4aADxA3fNWQcC0oh5re+1nWQ1syFmiPs8Cccov7QVxcHG1+I+kdVJo6ZrRA3eDyc4gAAKKS+8ywBAAA=" />
    <add key="/intelcpu/0/load/7/values" value="H4sIAAAAAAAEAEvhMbJXXXHPQ6H1p8OKplQmBiC4tvieg45PIpj9TeOawyK9HDBbZJ22w8+N8WA2CEhcf8oMYR34Xxq+kgXE0oyptz95MRms5k2gh33uvDSo+hP2evKZYLYdl7BDmVwKlD3d/qcJRPxh1RR7x4fJULuO29m+g7jndeAP+0s7s8HsHXJH7ac6Q9jVIsfsFR+lQ8Vd7ROqIGzNmOP25qLpUDdMcTjokAZVb+1YUAoxf0mBgKO0Zi6UreP4Jxyifp07r6ONbxrUDbxOma0QN8Scl3ECABc4rGgsAQAA" />
    <add key="/intelcpu/0/load/8/values" value="H4sIAAAAAAAEAEvhMbJXXXHP4+yZVscVTalMDEAg1zrVQccnEczWjPnpsEgvB8z2eMjg+HNjPJjNdf24o8T1p8wMYHDgf2n4ShYQq9A22fHkxWSwmteBHg6589Kget0c9OQzwewC2w6HMrkUMNuW67j9TxOIeP8hVwfHhxC9h74mONi+g7hnh5yr/aWd2WB2tUiZw1RnCPvw128Oio/SweyW12sdEqrSoWbedzAXTYeq93E86ABxA/d1UceCUoj5xsadDtKauWD2N41XDn/CIepF1rE72vhC1Mf0P3LMbIW44dyZVw4ARedBdiwBAAA=" />
    <add key="/intelcpu/0/load/9/values" value="H4sIAAAAAAAEAEvhMbJXXXHPw5ZLynFFUyoTAxDskFvooOOTCGYX2vo5LtLLAbNbXzs4/twYD2bLtV53kLj+lJkBDA78Lw1fyQJiFdhOcjh5MRmq95R97rw0qJlH7fTkM8Hsh1VT7MvkUuDiP00g4lzXJ9s7PoToBQHbdxD3pKUds7+0MxvMPnvmi/1UZwj7zBkdB8VH6WD29cU/7BOq0uHqzUUh7HXuax0OOkDc8Daw2LGgFGJ+0I4OB2nNXDC7/9Bkhz/hEPWzZsY62vhC1B/66uuY2ZoK9e9rBwDJprknLAEAAA==" />
    <add key="/intelcpu/0/temperature/0/values" value="H4sIAAAAAAAEANM6FhqouuKeBwNDqNPlbWlMDGAQ6jTzbiKU7eO08t95Fhhb7lIGVNzbSe1BMpQd4HRDCqY3xEnDIBOuZuqSHCjby2nrfZheT6cz0qlwcXPRdCjb3+mgQxpcvKA0GW6Oens+lO3hdO0xzBxfp5TyJCg7yCm6MBXOBgBVa4PJ2AAAAA==" />
    <add key="/intelcpu/0/temperature/1/values" value="H4sIAAAAAAAEANM6FhqouuKeB4ODn9PlbWlMDGDg7TTzbiKU7emkJ58JYR9wd6q+D1XT4O4kdykDqsbdSe1BMlTcw+mGFMwcDycNA5heV6epS3Kg4q5OW+9D9Tq4Op2RToWqcXEyF02Hm3nQIQ2uvqAUZr6rk3p7PlTcxenaY6g5B9ycUsqToGb6OUUXQs108HUCAPgWjJPkAAAA" />
    <add key="/intelcpu/0/temperature/2/values" value="H4sIAAAAAAAEANM6FhqouuKeBwNDsNP/r4lMDGDg65Q7Lw3K9nFaYnuWBcb+aZIJFfd0cnyYDGV7Odm+S4WLX9qZDRef6gxjezg1xpxngbHNRdPh6g86pMHZBaXJcPXSmrlQtrvTn3CYem8nG1+Y+iCnzFaYvYFOAFiis5TMAAAA" />
    <add key="/intelcpu/0/temperature/3/values" value="H4sIAAAAAAAEANM6FhqouuKeBwNDiNP/r4lMDGAQ6pQ7Lw3K9nFaYnuWBcb+aZIJFfd2CrCDqQlw0puYDGUHO13amQ1lezlNdUawFR+lQ9meTglV6XBxc1EY29/poEMaXLygNBnOltbMhbI9nPq2ZEDZvk6rPqRA2YFOma2pcPcAAOJtNtbYAAAA" />
    <add key="/intelcpu/0/temperature/4/values" value="H4sIAAAAAAAEANM6FhqouuKeBwODp9P/r4lMDGDg4pQ7Lw3KdnbSk8+Es8vkUqBsB6efJjBxR6cAOyT1E5Phal5ELuOEsc1F0+HqDzqkwdUUlCbD9Upr5sLF+7ZkwNXvYEmFsn2cogsRbAAlTb3qwAAAAA==" />
    <add key="/intelcpu/0/temperature/5/values" value="H4sIAAAAAAAEANM6FhqouuKeBwODp9PlbWlMDGDg5jTzbiKU7emkJ58JZbs4Vd9HqJG7lAFluzupPUiGsl2dbkilwdVrGMD0OjtNXZIDZTs5bb2fAVdzRjoVynZ0MhdNh6s/6JAGF5/+5xILjH3tcQbcnJTyJCjbyym6EGaOhxMAYpwG1NgAAAA=" />
    <add key="/intelcpu/0/temperature/6/values" value="H4sIAAAAAAAEANM6FhqouuKeBwNDjNPlbWlMDGAQ7TTzbiKUHemkJ58JZUc4Vd+HqQl3kruUAWerPUiGq78hlQZnaxgg9E5dkgNXv/U+Qu8Z6VQoO8zJXDQdLv5AC6E3sDsByg5xUm/Ph7JDna49RpiTUp4EZUc5RRemwt0AAMaqEDnkAAAA" />
    <add key="/intelcpu/0/temperature/7/values" value="H4sIAAAAAAAEANM6FhqouuKeBwODrdP/r4lMDGDg7JQ7Lw3KdnFaYnuWBcb+aZIJFXd3cnyYDGW7Odm+S4WLX9qZDRef6gxjezg1xpxngbHNRdPh6g86pMHZBaXJcPXSmrlQtqfTn3CYelcnG1+YejunzFaYvfZOABF3nQvMAAAA" />
    <add key="/intelcpu/0/temperature/8/values" value="H4sIAAAAAAAEANM6FhqouuKeBwODjdP/r4lMDGBg7ZQ7Lw3KdnFaYnuWBcb+aZIJFXd1CrCDqXFw0puYDGXbOl3amQ1luzlNdUawFR+lQ9nuTglV6XBxc1EY29HpoEMaXLygNBnOltbMhbI9nPq2ZEDZzk6rPqRA2fZOma2pcPcAADMqXHvYAAAA" />
    <add key="/intelcpu/0/temperature/9/values" value="H4sIAAAAAAAEANM6FhqouuKeBwODu9P/r4lMDGDg45Q7Lw3K9nXSk8+Es8vkUqDsAKefJjBxf6cAOyT1E5Phal5ELuOEsc1F0+HqDzqkwdUUlCbD9Upr5sLF+7ZkwNXvYEmFsl2cogsRbAA+Bv2FwAAAAA==" />
    <add key="/intelcpu/0/temperature/10/values" value="H4sIAAAAAAAEANM6FhqouuKeBwODu9PlbWlMDGDg5TTzbiKU7e6kJ58JZfs4Vd9HqJG7lAFlezqpPUiGsr2dbkilwdVrGMD0+jpNXZIDZfs5bb2fAVdzRjoVyvZ3MhdNh6s/6JAGF5/+5xILjH3tcQbcnJTyJCjbzSm6EGaOhxMAqV+zaNgAAAA=" />
    <add key="/intelcpu/0/clock/0/values" value="H4sIAAAAAAAEANteFBeouuKeh1PycafvB7KYGICgNum4U+iyeDC7DsgWup0BZ1sZpYHZDUB2+sUMuPrm+Slw8ZyqVDC7HsjujM6C670clQ1X03cPorcJyA6XSwezq4Hsn98g7EYgO+4ExK4aIPsmbyLcTI/SfDh72rUUuPk131IQZl5PhesFAAycf57kAAAA" />
    <add key="/intelcpu/0/clock/1/values" value="H4sIAAAAAAAEAPMIDQtUXXHPo65L1NVnazYTAxDUPJJzlV8XB2azMSi5astngtm1QHHfl2lg9s5gWVe5ixlwNYlLUsDsHUDxmeGpYDY7UPyuNkSv7jdW14QVOWC2HpB9/C5Er8xvYded4hD1stY/XZoYIeLZyyVcuR0g7C9H3rhcaEuA2NVwymVBfz6YPWnuWZcTd9Ih5uy+4LIuKRmu9+10iJnpQDYAexM+0eQAAAA=" />
    <add key="/intelcpu/0/clock/2/values" value="H4sIAAAAAAAEAPPYGxGouuKeR12XqGvb+mwmBiDgZPjs8nxjHJhds4jLddOZTDD7Uwu7q4p5Gpj9uPOZy66LGWB2NVDNpyUpYPYToHhiSSqY3fTovcthwUy4mvilOWC23jdW1657EL1K1j9d1olB1OsAxVteQdQbmEm5ZsdA7Lrryeja0ZQAccOR2S6Nfflg9rIbl12U09LB7IdAe1ViksHs7OUSrgHGEL0n/fhdAVW7Q+zkAAAA" />
    <add key="/intelcpu/0/clock/3/values" value="H4sIAAAAAAAEAGuTjw5UXXHP46yZlOu09dlMDEBgb9jjwrk2Dsx2MbzrsutaJpgtZb3CZaFRGphtUlbvcu1CBph95tx2l3/zU8DsybJLXf6VpILZYTmTXE4KQvQuuXHZ5ezKHDD7gt8Dl333IHq/Hpnt0isGUX8KKF75CqJ+6Q0mV8+YNKg5j12qOhLB7G8uR1zk6vLB7LNAe1MuQfTKWf90+eMJcQMng5LrpASI+P3OZy4AcL2s5OQAAAA=" />
    <add key="/intelcpu/0/clock/4/values" value="H4sIAAAAAAAEANteFBeouuKex8RWdtfvB7KYGICgNsndJXRZPJhtVFbvInQ7A8yeNNfXxcooDcxuAKpJvwgR3ykc5dI8PwXMDs+Z5JJTlQpm1wPVdEZDzPx4ZLbL5ahsMDtH/aBL3z2I3gvntruEy6WD2WLWK1x+foOwp8496xJ3AmKX/cYtLjd5E8HsKUBxj9J8MJudYZHLtGsQexffYHKt+QZhczIouYZfh7hBEmgmAI97PJLkAAAA" />
    <add key="/intelcpu/0/power/0/values" value="H4sIAAAAAAAEACsUumivuuKeBwMQJOzr4WSAgtV5EcwQ1oH/1sYrWEAs/RgPh+8HsphAbCXNjfahy+LB7B/Pl9sL3c4As3WfLLS3MkoDs/dNXWyffhEivkphsX3z/BQw+7bxPvucqlQw+8PvZfad0RAz9VuX21+OygazIzpO2Pfdg+j99myLfbhcOpi9WOC0/c9vEPbDaQoOcScgdp2YKepwkzcRzD51Ypu9R2k+mL3m/B77adcg9l5qSnCo+QZhr6g/5BB+HeIG/80FDgDGIm/sCAEAAA==" />
    <add key="/intelcpu/0/power/1/values" value="H4sIAAAAAAAEACsUumivuuKeBwMQJOzr4WSAgtV5EcwQ1oH/1sYrWECs8NOv7b8fyGICsf20XOxCl8WD2R6Xde2EbmeA2WdOfLO1MkoDs+X8+OzSL0LELY247Jrnp4DZu85PtMupSgWzjaeo2XVGQ8xMEVW2uxyVDWY3Tu2267sH0btA3sEuXC4dzD6xqMfu5zcI2yC02j7uBMSu11ym9jd5E8FsBRZnO4/SfDBbzNbObto1iL07tE/b13yDsCW3tjiEX4e4gfchrwMAQT5+VwgBAAA=" />
    <add key="/intelcpu/0/power/3/values" value="H4sIAAAAAAAEACsUumivuuKeBwMQJOzr4WSAgtV5EcwQ1oH/1sYrWEAsgWNt9t8PZDGB2OuyyuxDl8WD2QrORfZCtzPAbKdfBfZWRmlg9pPVBfbpFyHiEnsK7Jvnp4DZ+i5l9jlVqWB22rpC+85oiJl/mYvsL0dlg9k/ztXb992D6M05XmYfLpcOZhvJNNj//AZhS/V32MedgNj12LzP/iZvIpjtN6Ha3qM0H8y+tqvGfto1iL0Oisvsa75B2LNkbtqHX4e4QcFzpT0A90Vw2wgBAAA=" />
    <add key="/intelcpu/0/power/4/values" value="H4sIAAAAAAAEACsUumivuuKeBwMQJOzr4WSAgtV5EcwQ1oH/1sYrWGDiAr8ctGFsAPHtZjo8AAAA" />
    <add key="/intelcpu/0/voltage/0/values" value="H4sIAAAAAAAEANteFBeouuKeB8Mqd/vvB7KYGEDgjYh96LJ4CLtIxl7odgaE7Sdqb2WUBmHPErVPvwgVFxO3b56fAmE7KdvnVKVC2B9E7DujoWayqdtfjsqGsNUM7PvuQfW26dmHy6VD2Gka9j+/QdlqpvZxJ6B2VWnb3+RNhLBzTOw9SvMh7Cx1+2nXoPY+cLOv+QZl50Xah1+HukFL0x4AVKb64uQAAAA=" />
    <add key="/intelcpu/0/voltage/1/values" value="H4sIAAAAAAAEANteFBeouuKeB4OHh/33A1lMDCAwRcQ+dFk8hN0mbS90OwPC/iJib2WUBmH7idqnX4SKR4jYN89PgbC3KdnnVKVC2PNE7DujoWbOU7O/HJUNYfMY2Pfdg+o10rMPl0uHsJvU7X9+g7KfGNvHnYDatUrX/iZvIoR9ytjeozQfwt6nbj/tGtTeby72iyZB7dWLsDe0hrJNNOwBnQPrZ+QAAAA=" />
    <add key="/intelcpu/0/voltage/2/values" value="H4sIAAAAAAAEANteFBeouuKeB4OIh/33A1lMDCAwT8Q+dFk8hF0jbS90OwPCfidib2WUBmF/E7FPvwgVjxCxb56fAmHfUbbPqUqFsBeI2HdGQ810U7O/HJUNYQsZ2Pfdg+o10LUPl0uHsL9o2P/8BmW3GNvHnYDapaZrf5M3EcJWMrX3KM2HsA+o20+7BrXXwMV+0SSovTIR9obWULaJhj0A0h2HuuQAAAA=" />
    <add key="/intelcpu/0/voltage/3/values" value="H4sIAAAAAAAEANteFBeouuKeB8MuN/vvB7KYGEDAT9Q+dFk8hK0gYy90OwPCdhGztzJKg7C9RO3TL0LFF4jaN89PgbAtlO1zqlIh7Fmi9p3RUDP/qdlfjsqGsE8Z2Pfdg+qN0bUPl0uHsFep2//8BmWXmdjHnYDaNUXb/iZvIoR9zNjeozQfwq5Qs592DWpvnIv9bw6o+hdh9jeOQMVjNOwBRj33xuQAAAA=" />
    <add key="/intelcpu/0/voltage/4/values" value="H4sIAAAAAAAEANteFBeouuKeB8MCN/vvB7KYGEDAT9Q+dFk8hF0hYy90OwPCdhGztzJKg6tJvwgVXyBq3zw/BapGyT6nKhUu3hkNNVNA3f5yVDaELWNg33cPqjdF1z5cLh3CXqVm//MblH3ExD7uBNQuNR37m7yJEDaTsb1HaT6EraRmP+0a1N5XLvYRvFD1YWH21Qeg4mka9gAMFWr85AAAAA==" />
  </appSettings>
</configuration>